<app-home></app-home>
<p class="text-center text-3xl bg-blue-200 m-4 p-4 text-blue-500">Reservation-list works!</p>

<div *ngIf="reservationList.length;else noReservation">
    <ul
    *ngFor="let reservation of reservationList" class="m-4 p-4  bg-blue-200 max-w-md space-y-1 text-blue-500"> 
    <li>
        CheckInDate:{{reservation.checkInDate}}
    </li>
    <li>
        CheckOutDate:{{reservation.checkOutDate}}
    </li>
    <li>
        GuestName:{{reservation.guestName}}
    </li>
    <li>
        GuestEmail:{{reservation.guestEmail}}
    </li>
    <li class="pb-4">
        RoomNumber:{{reservation.roomNumber}}
    </li>
    <li>
        <button (click)="deleteReservation(reservation.id)" class="bg-red-500 m-4 p-4">Delete</button>
        <button [routerLink]="['/edit',reservation.id]" class="bg-green-500 m-4 p-4">UpDate</button>
    </li>
    </ul>

</div>


<ng-template #noReservation>
    <p class="m-4 p-4  bg-blue-200 max-w-md space-y-1 text-blue-500">No reservation availble</p>
</ng-template>

